<form action="/" method="get">
  Search Movie Title <input type="text" name="search">
  <input type="submit" value="Submit">
</form>

<% if !user_signed_in? %>
  <div class="msg">
  <h1>Singapore Cinema: Your Definitive Guide</h1>
  <p>A resource platform dedicated to the films of Lion City and the creations of talented Singaporeans, providing film buffs with the lowdown of local films. For film buffs, by film buffs.</p>
  <p><%= link_to "Sign up now and be part of the community", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-10 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div> 
